<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>
  <table border="1">
    <thead>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th></th>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td><%= link_to question.id,  question_path(question.id)%></td>
      <td><%= question.title %></td>
      <td><%= question.content %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', question_path(question), method: :delete,
                      data: {confirm: 'Are you sure?'}%></td>

    </tr>
    <% end %>
    </tbody>
  </table>
<%= link_to '>New Question', new_question_path%>
